body{
    text-align: center;
    background-image: url("pexels-pixabay-356079.png");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}
button{
    background-color: black;
    color: white;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
}
p{
    padding-top: 50px;
}
h1{
    padding-top: 100px;
}
button:hover{
    background-color: white;
    color: black;
}